@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/WindowLicker.jpg" alt="TorTorLickingAWindow" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Tori's Sample App!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>How To See More  Cute Pictures</h2>
        <p>
            Click on the Our Family Link above!
        </p>
    </div>
</div>
